.header_wrapper{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color:  #FAFAFA;
}

.header{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}


.navbar{
    list-style-type: none;
    display: flex;
    justify-content: center;
    grid-gap: 20px;
    padding-top: 40px;
    padding-inline-start: 0px;
    flex-wrap: wrap;
}

.navbar li{
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.navbar span{
    opacity: .2;
    font-size: 12px
}



.arrow{
    border: 5px solid #B22222;
    width: 60px;
     height: 60px;
     align-self: center;
    margin-top: 200px;
    border-radius: 100%;
    background: transparent;
}

.arrow:focus {
    outline: none;
    box-shadow: none;
  }

  @media (min-width: 481px) and (max-width: 767px) {
  
.top img{
    width: 480px;
}
    
  }
  @media (min-width: 320px) and (max-width: 480px) {
  
    .top img{
        width: 300px;

    }
 
  }