.meal_card {
  width: 200px;
  min-height: 188px;
  background-color: white;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.meal_card p {
  font-size: 16px;
  padding-top: 10px;
  font-weight: bold;
}

.meal_card_bottom {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  padding-top: 10px;
}





.arrow_box {
  visibility: hidden;
  position: relative;
  background: #ffffff;
  border: 2px solid #b22222;
  width: 200px;
  text-align: center;
  border-radius: 6px;
  padding: 20px 10px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 30%;
  margin-left: -60px;
  line-height: 1.3;
}
.arrow_box:after,
.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(178, 34, 34, 0);
  border-top-color: #b22222;
  border-width: 13px;
  margin-left: -13px;
}

.meal_card:hover .arrow_box {
  visibility: visible;
}

.meal_image{
  width: 150px;
height: 117px;
}