.about_wrapper {
  min-height: 100vh;
  background-color: #ffffff;
}

.about_header {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.chef {
  width: 57px;
  height: 50px;
}

.about_title_wrapper {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  width: 191px;
  text-transform: uppercase;
}

.about_border {
  padding: 10px 0px 6px 0;
  font-size: 32px;
}

.about_center {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 100px 0px;
  grid-gap: 70px;
  grid-template-columns: 400px 400px;
  grid-template-rows: 380px 380px;
}

.about_block {
  width: 400px;
  height: 380px;
  background-color: #ffffff;
}
.text {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
  line-height: 1.5;
}

.imgOne {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.lighten {
  color: #231f20;
  opacity: 0.5;
}

.stone {
  width: 400px;
  height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fafafa;
  grid-gap: 8px;
}

.stone img {
  width: 300px;
  height: 67px;
  align-self: center;
}

.zagat {
  width: 400px;
  height: 194px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fafafa;
  grid-gap: 8px;
}

.zagat img {
  width: 300px;
  height: 67px;
  align-self: center;
}

.philly {
  width: 400px;
  height: 380px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  grid-gap: 8px;
}

.philly img {
  width: 300px;
  height: 296px;
  align-self: center;
}

.social_media_wrapper {
  width: 100%;
  padding: 50px 50px 100px 50px;
  display: flex;
  flex-direction: row;
  grid-gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
}

.social_media_rating {
  width: 68px;
  height: 106px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.social_icon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social_rating {
  color: #b22222;
  text-transform: uppercase;
  opacity: 1;
  font-size: 20px;
}

.social_name {
  color: #231f20;
  opacity: 0.5;
  font-size: 16px;
}

.fb {
  background-color: #1976d2;
}

.yelp {
  background-color: #f44336;
}

.google {
  background: -webkit-linear-gradient(
    top left,
    #fbbd00,
    #cf2d48,
    #3c79e6,
    #31aa52
  );
}

.groupon {
  background-color: #8bc34a;
}

.foursq {
  background-color: #ec407a;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .about_center {
    grid-template-columns: none;
    grid-template-rows: 300px 380px 320px 300px;
    grid-gap: 50px;
  }

  .about_block text {
    grid-row-start: 1;
  }
  .imgOne {
    grid-row-start: 2;
  }
  .two {
    grid-row-start: 3;
  }
  .imgTwo {
    grid-row-start: 4;
  }
  .text {
    grid-gap: 5px;
  }
  .social_media_wrapper {
    grid-gap: 50px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .about_center {
    grid-template-rows: 400px 380px 400px 380px;
  }

  .about_block {
    width: 300px;
  }
  .stone {
    width: 300px;
  }
  .zagat {
    width: 300px;
  }
  .philly {
    width: 300px;
  }
}
