.contact_wrapper {
  min-height: 100vh;
  background-color: #fafafa;
}

.contact_header {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.chef {
  width: 57px;
  height: 50px;
}

.contact_title_wrapper {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  width: 152px;
  text-transform: uppercase;
}

.contact_border {
  padding: 10px 0px 6px 0;
  font-size: 32px;
}

.form_wrapper {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}

form {
  width: 340px;
}

form p {
  color: #231f20;
  opacity: 1;
  font-size: 16px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid #d1d2d4;
  border-radius: 5px;
  opacity: 1;
  text-indent: 10px;
  outline: none;
}

select {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid #d1d2d4;
  border-radius: 5px;
  opacity: 1;
  outline: none;
 ;
}

textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid #d1d2d4;
  padding: 12px;
  border-radius: 5px;
  opacity: 1;
  text-indent: 10px;
  outline: none;
}

.send {
  width: 340px;
  height: 46px;
  color: #b22222;
  border: 1px solid #b22222;
  border-radius: 5px;
  opacity: 1;
  background-color: transparent;
}
