.footer_wrapper {
  width: 100%;
  height: 438px;
  background-color: #231f20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big_logo{
  margin-bottom: 10px;
}

.find_us {
  display: flex;
  flex-direction: column;
  width: 152px;
  height: 66px;
  justify-content: center;
  align-items: center;

}

.find_us p {
  color: #ffffff;
}

.find_us_links {
  display: flex;
  flex-direction: row;
 /* grid-gap: 16px;*/
}

.find_us_link {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  opacity: 1;
  border-radius: 100px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px 5px;
}

.find_us_link:hover{
  background-color: white;
  border: 1px solid  #231F20;
}

.facebook{
  background-image: url('../../assets/facebook.svg');
}

.facebook:hover{
  background-image: url('../../assets/facebook_blk.png');
}

.instagram{
  background-image: url('../../assets/insta2.png');
}

.instagram:hover{
  background-image: url('../../assets/insta_blk.png');
}

.twitter{
  background-image: url('../../assets/twitter.png');
}

.twitter:hover{
  background-image: url('../../assets/twitter_blk.png');
}